/* It seems like swipers may be quite unstable without this two first rules */
.swiper-container {
  margin: 1rem auto 1rem auto;
  overflow: hidden;
  position: relative;
}

.swiper-container .swiper-slide {
  width: inherit !important;
}

.swiper-container .swiper-slide-image img {
  width: auto;
}

.swiper-container.swiper-horizontal.progressbar > .swiper-wrapper {
  padding: 1rem 0;
}

.swiper-container.swiper-vertical.progressbar > .swiper-wrapper {
  padding: 0 1rem;
}
