parameters:
  # PHP 8.3
  phpVersion: 80300
  level: 6
  scanDirectories:
    - ../../../../vendor/drush/drush/src-symfony-compatibility
    - ../../../../web/core
    - ../../../../web/modules
    - ../../../../web/themes
  ignoreErrors:
    - identifier: missingType.iterableValue
    - identifier: class.noParent
    - identifier: class.notFound
  reportUnmatchedIgnoredErrors: false
  excludePaths:
    - node_modules
    - src/Plugin/Field/FieldFormatter/SwiperParagraphs.php
    - src/Plugin/Field/FieldFormatter/SwiperParagraphsDialog.php
  paths:
    - .
